In [18]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print("We start with", a, "after we add one, we get", b)
    return(b)

In [16]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [19]:
# Call the function add()

add(1)

We start with 1 after we add one, we get 2

2

In [20]:
# Call the function add()

add(2)

We start with 2 after we add one, we get 3

3

In [21]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [22]:
# Use mult() multiply two integers

Mult(2, 3)

6

In [24]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [25]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [30]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "squared, + 1 will equal", c) 
    return(c)

In [31]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 squared, + 1 will equal 10

10

In [32]:
# Directly enter a number as parameter

square(2)

2 squared, + 1 will equal 5

5

In [36]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [37]:
# See the output

MJ()

Michael Jackson

In [38]:
# See the output

MJ1()

Michael Jackson

In [39]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [40]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [41]:
# Test on the con() function

con("This ", "is")

'This is'

In [42]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [43]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [44]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [45]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [46]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [47]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [48]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

70.0

In [49]:
# Show the length of the list or tuple

len(album_ratings)

8

In [54]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [55]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [56]:
PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc